
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to bottom, #f4c8d8 0%, #e793b4 100%);
    /* background: url(./3D相册-images/background.jpg); linear-gradient(rgb(0, 238, 255) 0%, #000 100%); */

}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ----------- */
ul li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

ul li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}

ul li:hover::before
{
    inset: 15px;
}

ul li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
}

ul li:hover::after
{
    inset: 0px;
    transform: rotate(0deg);
}

ul li a
{
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a i
{
    font-size: 2em;
    transition: 0.5s;
    color: var(--clr);
}

ul li:hover a i
{
    color: var(--clr);
    transform: translateY(-40%);
}

ul li a span
{
    position: absolute;
    font-family: consolas;
    color: var(--clr);
    opacity: 0;
    transition: 0.5s;
    transform: scale(0) translateY(200%);
}

ul li:hover a span
{
    opacity: 1;
    transform: scale(1) translateY(100%);
}

ul li:hover a i,
ul li:hover a span
{
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

/* ------------ */
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  /* header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  header ul li a:hover,
  header ul li .active {
    background: #fff;
    color: #ec9bad;
  } */


.cube {
    position: relative;
    margin: 0px auto;
    margin-top: 15%;
    margin-left: 42%;
    width: 200px;
    height: 200px;
    transform: rotateX(-30deg) rotateY(-80deg);
    transform-style: preserve-3d;
    animation: rotate 15s infinite;
}

.cube .outer-cube,
.cube .inner-cube {
    transform-style: preserve-3d;
}

/* 旋转立方体 */
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* 外层立方体样式 */
.outer-cube .outer-top,
.outer-cube .outer-bottom,
.outer-cube .outer-right,
.outer-cube .outer-left,
.outer-cube .outer-front,
.outer-cube .outer-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    opacity: 0.3;
    transition: all .9s;
}

.outer-cube img {
    width: 200px;
    height: 200px;
}


.outer-top {
    transform: rotateX(90deg) translateZ(100px);
}

.outer-bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.outer-front {
    transform: rotateY(0deg) translateZ(100px);
}

.outer-back {
    transform: translateZ(-100px) rotateY(180deg);
}

.outer-left {
    transform: rotateY(90deg) translateZ(100px);
}

.outer-right {
    transform: rotateY(-90deg) translateZ(100px);
}

/* 嵌套的内层立方体样式 */
.inner-cube>div {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 130px;
    height: 130px;
}

.inner-cube img {
    width: 130px;
    height: 130px;
}

.inner-top {
    transform: rotateX(90deg) translateZ(65px);
}

.inner-bottom {
    transform: rotateX(-90deg) translateZ(65px);
}

.inner-front {
    transform: rotateY(0deg) translateZ(65px);
}

.inner-back {
    transform: translateZ(-65px) rotateY(180deg);
}

.inner-left {
    transform: rotateY(90deg) translateZ(65px);
}

.inner-right {
    transform: rotateY(-90deg) translateZ(65px);
}

.cube:hover .outer-top {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: rotateX(90deg) translateZ(200px);
}

.cube:hover .outer-bottom {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: rotateX(-90deg) translateZ(200px);
}

.cube:hover .outer-front {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(200px);
}

.cube:hover .outer-back {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: translateZ(-200px) rotateY(180deg);
}

.cube:hover .outer-left {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: rotateY(90deg) translateZ(200px);
}

.cube:hover .outer-right {
    right: -70px;
    bottom: -70px;
    opacity: 0.8;
    transform: rotateY(-90deg) translateZ(200px);
}

.message .author {
    position: absolute;
    right: 50px;
    background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC 30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%, #66FFFF 90%, blue 100%);
    font-size: 35px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 4s linear infinite;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0;
    }
}
